/nbproject/private/
/build/
/dist/
/nbbuild/
/nbdist/
/nbactions.xml/
/Amila-EnterPrises/nbproject/project.properties/
/nb-configuration.xml/
*.properties
nbproject/project.properties
nbproject/project.properties
*.properties
