<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>A</servlet-name>
        <servlet-class>test.A</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suplierreg</servlet-name>
        <servlet-class>servlet.suplierreg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>A</servlet-name>
        <url-pattern>/A</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suplierreg</servlet-name>
        <url-pattern>/suplierreg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/errorpages/ErrorPage404.jsp</location>
    </error-page>
</web-app>
